<!DOCTYPE html>
<html lang="en">
  <head>
    {% include 'theme/includes/head.html' %}
    {% block extrastyle %}{% endblock extrastyle %}
  </head>
  <body class="m-0 font-sans text-base antialiased font-normal leading-default bg-gray-50 text-slate-500">
    {% block body %}{% endblock %}
  </body>

{#  {% include 'theme/includes/fixed_plugin.html' %}#}

{#  {% include 'theme/includes/scripts.html' %}#}
  {% block extra_js %}
      <script src="https://unpkg.com/htmx.org@1.9.3" integrity="sha384-lVb3Rd/Ca0AxaoZg5sACe8FJKF0tnUgR2Kd7ehUOG5GCcROv5uBIZsOqovBAcWua" crossorigin="anonymous"></script>
  {% endblock extra_js %}

</html>