{% extends "base.html" %}

{% block title %}Kies je renners{% endblock %}
{% block content %}
<div>
  <h1>Alle renners{{user}}</h1>
  <table>
    <tr>
      {% for key, value in renners.items %}
      <td>
	<table>
	  {% for renner in value %}
	  <tr>
	    <td><input type="checkbox" value="{{renner.id}}"></td>
	    <td>{{ renner.nummer }}</td>
	    <td>{{ renner.naam }}</td>
	  </tr>
	  {% endfor %}
	</table>
      </td>
      {% if forloop.counter|divisibleby:'3' %}
    </tr>
    <tr>
      {% endif %}
      {% endfor %}
    </tr>
  </table>
</div>
{% endblock %}
